body {
    display: flex;
    background-image:url("https://th.bing.com/th/id/OIP.9AgsRxBU-qyLQ9LwxEXGxwHaEK?rs=1&pid=ImgDetMain");
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:saddlebrown;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: left;
    
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    font-size: 50px;
    margin: 20px 0;
}

.buttons button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#startStopBtn {
    background-color: #4CAF50;
    color: white;
}

#resetBtn {
    background-color: hsl(322, 90%, 58%);
    color: white;
}
